/* My cool CSS Assignment */


/* Body Style */
body {
	line-height: 1;
  font-size: 14px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  background-color: yellow;
  height: 100px;
  position: fixed;
	margin-top: -10px;
  width: 100%;
	padding-bottom: 40px;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}


h3 {
  font-size: 1.3em;
}

/* Elements */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* New element added with dif background-color*/
.element1 {
  background-color: #5f5fc3;
}

/* Thanks for reviewing my work */
